PROJECT1=Predict the class of the flower based on available attributes
iris_data=C:/Users/hp/project/iris.csv

In [67]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score,classification_report

In [9]:
data=pd.read_csv("C:/Users/hp/iris.csv")
data.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [18]:
data.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'class'], dtype='object')

In [37]:
encode = LabelEncoder()
data['class'] = encode.fit_transform(
    data['class'])
data.head()

   sepallength  sepalwidth  petallength  petalwidth  class
0          5.1         3.5          1.4         0.2      0
1          4.9         3.0          1.4         0.2      0
2          4.7         3.2          1.3         0.2      0
3          4.6         3.1          1.5         0.2      0
4          5.0         3.6          1.4         0.2      0

In [ ]:
x,y= data[:,:3]

In [46]:
train,test = train_test_split(data,test_size=0.2,random_state=0)

In [50]:
train.shape

(120, 5)

In [48]:
test.shape

(30, 5)

In [51]:
train_x = train.drop(columns=['class'],axis=1)
train_y = train['class']
test_x = test.drop(columns=['class'],axis=1)
test_y = test['class']

In [52]:
model = LogisticRegression()
model.fit(train_x,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [66]:
predict= model.predict(test_x)

In [68]:
#predict=encode.inverse_tranform(predict)
#from sklearn.metrics import classification_report
print(classification_report(test_y,predict))
#accuracy_score(test_y,predict)

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        11
          1       1.00      0.92      0.96        13
          2       0.86      1.00      0.92         6

avg / total       0.97      0.97      0.97        30